.textReturn {
    font-size: 15px;
    padding: 20px;;

}

.dice-container {
    background-color: #f3f3f3;
    text-align: center;
    margin: 0;
    padding: 10px;
    font-family: "Lexend Deca", sans-serif;
}

.dice-container-two {
    background-color: #f3f3f3;
    text-align: center;
    margin: 0;
    padding: 10px;
    font-family: "Lexend Deca", sans-serif;
    min-height: 200px;
}

.small-input {
    text-align: right;
    width: 60px;
    font-size: 20px;
}

.dice-container-return {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #f3f3f3;
}

