body {
    box-sizing: border-box;
    margin: auto;
}

a {
    text-decoration: none;
}

.header-one-container {
    display: flex;
    justify-content: center;
}

.header-one {
    font-weight: 100px;
    font-style: normal;
    text-justify: center;
    color: rgb(19, 19, 19);
    font-family: "Lexend Deca", sans-serif;
}


.links-container {
    display: flex;
    justify-content: center;
    background-color: rgb(243, 243, 243);
    gap: 20px;
    padding: 2em;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 100;

}

.project-link-box {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(175, 175, 175);
    border-width: 2px;
    background-color: rgb(226, 226, 226);

    display: flex;
    align-items: center; */
    justify-content: center;
}

.project-links {
    font-size: 30px;
    display: block;
    padding: 25px;
    text-align: center;
}

