body {
    box-sizing: border-box;
    margin: auto;
}

.header-one-container {
    display: flex;
    justify-content: center;
}

.header-one {
    font-weight: 100px;
    font-style: normal;
    text-justify: center;
}



.container {
    display: flex;
    justify-content: center;
}


.project-link-box {
    width: 250px;
    height: 250px;
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(175, 175, 175);
    border-width: 2px;
    background-color: rgb(226, 226, 226);

    display: flex;
    align-items: center;
    justify-content: center;
}

.project-links {
    font-size: 30px;
    display: block;
    padding: 25px;
    text-align: center;
}

